@charset "UTF-8";
/* CSS Document */

.cDyellow{
	color: #F58400;
}


.carousel-caption-text {
  position: absolute;
  top: 20px;
  left: 10%;
  z-index: 10;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #fff;
  text-align: left;
}
.add-sm-screen{
	position: absolute;
	top:55%;
	transform: translateY(-50%);
	left: 0;
	right: 0;
	padding: 300px 0;
	text-align: center;
}
.bgc-w{
	background-color: rgba(255,255,255,0.6);
}
.bgc-b{
	background-color: rgba(0,0,0,0.5);
}

.btnblue{
	border: 0;
	color: #4EB2E6;
	padding: 3px 15px;
	background-color: #fff;
	border-bottom: solid 1px #4EB2E6; 
}
.btnblue:hover{
	border: 0;
	color: #fff;
	padding: 3px 15px;
	background-color: #4EB2E6;
	border-bottom: solid 1px #4EB2E6;
	transition-duration: 0.5s;
}
.btnyellow{
	border: 0;
	color: #FFB336;
	padding: 3px 15px;
	background-color: #fff;
	border-bottom: solid 1px #FFB336; 
}
.btnyellow:hover{
	border: 0;
	color:#FFF;
	padding: 3px 15px;
	background-color: #FFB336;
	border-bottom: solid 1px #FFB336;
	transition-duration: 0.5s;
}

.flex1 {
  display: flex;
  justify-content:center;
  flex-wrap: wrap;/*超過換行*/
}

.item1 {
  flex:0 0 18%;
  margin: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 2rem;
  align-items: flex-start;
}
.bd-top{
	border-top: solid 5px #4EB2E6;
	overflow: hidden;
}
.box{
	height: 360px;
	box-shadow: 0px 5px 6px rgba(0,0,0,0.3);
}
.bd-img{
	transform: scale(1,1);
	transition: all 1s ease-out;
}
.box:hover{
	cursor: pointer;
}
.box:hover .bd-img {
	transform: scale(1.2,1.2);
	
	
}
.line{
	
	width:30px;
	height: 4px;
	background-color: #4EB2E6;
	transition: all 1s ease-out;
}
.box:hover .line{
	width:100px;
	
}
/*01-05*/
.title-poa-center{
	position: absolute;
	top:50%;
	left: 10%;
	right:10%;
	 transform:translate(0,-50%);
	text-align:center;
}
.title-poa{
	position: absolute;
	bottom:10%;
	left: 10%;
	right:10%;
	text-align:center;
}
.title-large{
	font-size: 2rem;
	color:white;
	font-weight: 400;
	text-shadow: 1px 4px 5px #111;
}


.title-medium{
	font-size: 1.5rem;
	color: white;
	font-weight: 550;
	text-shadow: 1px 3px 3px #111;
	
}
@media(min-width:567px){
.title-large{
	font-size: 2.7rem;
	color:white;
	font-weight: 550;
	text-shadow: 1px 4px 5px #111;
	}
.title-medium{
	font-size: 2.1rem;
	color: white;
	font-weight: 550;
	text-shadow: 1px 3px 3px #111;
	
}
}
.title-btn{
	display: inline-block;
	color: white;
	font-size: 1rem;
	font-weight: 500;
	text-shadow: 1px 3px 3px #111;
}
.title-btn a{
	text-decoration: none;
	color: white;
}
.title-btn a:hover{
	text-decoration: none;
	color: #FFB336;
}
.smline{
	color:white;
	font-size: 1.2rem;
	font-weight: lighter;
}
/*01.aboutypro-start*/
.poa-map
{
	position: absolute;
	left: 50%;
	right: 0%;
	top:0;
	background-color: #1c1c80;
	color: #fff;
	padding: 4rem 5rem;
}
@media screen and (max-width:990px){
	.poa-map{
	padding: 2rem 3rem;
	}
}
@media screen and (max-width:780px){
	.poa-map{
	padding: 0rem 3rem;
	}
}
.content-p
{
	font-size: 1rem;
	color: #333;
}
.historyBg
{	
	
	background-image: url("../images/01-histoyBG.png");
	background-repeat: no-repeat;
	background-position: center;
	background-size:contain;
	background-attachment : fixed;
}
.deedBg{
	background-image: url("../images/01-global.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size:cover;
	background-attachment : fixed;
}
.deedBg2{
	background-color: rgba(255,255,255,0.8);
}
.deedtable td
{
	border-bottom: 1px solid #1c1c80;
	padding: 0.3rem;
	
}
.td-year{
	color: #1c1c80;
	font-weight: bold;
	text-align: center;
	font-size: 1.3rem;
}
/*01.aboutypro-end/02.service-start*/
.service1
{	

	width: 100%;
	background: linear-gradient(to top, transparent 50%, #1c1c80 50%);
	
}
.service1-content{
	
	width: 100%;
	background-color: #F2F2F2;
	padding: 2rem 2rem;
}
.pict1bd
{
	border: 2px solid #1c1c80;
	padding: 5px;
}
.pd1{
	font-size: 2.5rem;
	color: #4EB2E6;
	font-weight: 550;
}
.pd2{
	font-size: 1.8rem;
	color:#F58400;
	font-weight: 550;
}
.pd2r{
	text-align: right;
}
@media screen and (max-width:567px){
	.service1{
		background: #fff;
	}
	.pd1{
	font-size: 1.5rem;
	color: #1C1C80;
	font-weight: 550;
	text-align: center;
}
.pd2{
	font-size: 1rem;
	color:#FFB336;
	font-weight: 550;
	}
.pd2r{
	text-align: center;
	}
}
.si{
	background-image: url("../images/02-si.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size:cover;
	
}
.siblack{

		background-color: rgba(0,0,0,0);
	}

.mapp{
	background-image: url("../images/02-ma.png");
	background-repeat: no-repeat;
	background-position: center;
	background-size:cover;
}
@media screen and (min-width:1200px){
	.mapp{
	min-height:500px;
	}
	}
.tw
{
	position: absolute;
	left: 0%;
	right: 50%;
	top:0;
	background-color: #1c1c80;
	color: #fff;
	padding: 4rem 5rem;
	height: 100%;
}
@media screen and (max-width:1100px){
	.tw{
	padding:3rem 3rem;
	}
}
.md-tw{
	background-image: url("../images/02-tw.jpg");
	background-repeat: no-repeat;
	background-position: right;
	background-size:cover;
}
@media screen and (max-width:992px){
	.siblack{
		background-color: rgba(0,0,0,0.3);
	}
	.twblack{
		background-color: rgba(0,0,0,0.5);
	}

}

/*03-2start*/
@media screen and (max-width:567px){
	.icon>img{
		width: 70%;
	}
}

/*03-44-start*/
.health-t{
	color:	#FFB336;
	text-align: center;
	font-weight: bold;
	font-size: 1.5rem;
	
}
.health-p{
	color: #fff;
}
@media screen and (max-width:768px){
	.health-t{
		color: #1C1C80;
	}
	.health-p{
		color:	#111;
	}
}
.bgc-health1{
	background-image: url("../images/03-4-health1.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size:cover;
}
@media screen and (min-width:768px){
	.bgc-health1{
		min-height: 400px;
	}
}
@media screen and (min-width:1200px){
	.bgc-health1{
		min-height: 450px;
	}
}

.bgc-health2{
	background-image: url("../images/03-4-health2.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size:cover;
}
/*recruitment.html----*/
.re-table{
	border: 5px solid #4EB2E6;
}

.re-table td{
	padding: 1rem ;
	color: #333;
	border-bottom: 1px solid #707070;
	background-color: #fff;
}
.re-table thead td{
	background-color: #4EB2E6;
	color: #fff;
	border-bottom:transparent;
	font-weight: 550;
}
.human-p{
	font-weight: bold;
	color: #4EB2E6;
}
@media screen and (max-width:768px){
	.human-p{
		font-size: 0.8rem;
	}
	.human-img>img{
		width:90%;
	}
}
